.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff; 
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

input[type="text"].itemInput, 
button.addButton {
  width: 100%; 
  padding: 8px 10px; 
  margin-bottom: 10px; 
}

button.addButton {
  background-color: #0070f3;
  color: #fff;
  border: none; 
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; 
}

button.addButton:hover {
  background-color: #fff;
  color: #0070f3;
}

.todoItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.todoText {
  margin-left: 10px;
  flex-grow: 1;
  border: 1px solid #ccc; 
}
